---
import { AstroFont } from 'astro-font'
import { ViewTransitions } from 'astro:transitions'
import LoadingIndicator from 'astro-loading-indicator/component'

interface Props {
  title?: string
  description?: string
  className?: string
}

const {
  title = 'EduCBT | Education Platform',
  description = 'EduCBT, revolutionized the way teachers and students interact.',
  className,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="viewport-fit=cover" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      title && (
        <>
          <title>{title}</title>
          <meta property="og:title" content={title} />
        </>
      )
    }
    {
      description && (
        <>
          <meta name="description" content={description} />
          <meta property="og:description" content={description} />
        </>
      )
    }
    <meta property="og:image" content="/sign-in-illustration.png" />
    <AstroFont
      config={[
        {
          name: 'Manrope',
          src: [],
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
      ]}
    />
    <ViewTransitions />
    <LoadingIndicator color="#000" />
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
